fastapi
uvicorn
streamlit
requests
python-dotenv
chromadb
llama-index
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-llms-ollama
sentence-transformers
beautifulsoup4
markdownify
docling
pypdfium2